
        <!-- sidebar menu start-->
        <ul class="navbar-ul apt-round">
            <li class="navbar-li"><h2 class="navbar-li"><a href="{{ "/" | relURL }}"><img src="/images/sun-flower.png" width="55px"/> </a></h2></li>
            <li class="navbar-li"><h1 class="navbar-li"> {{ .Title }} </h1></li>
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">All apartments</a>
              <div class="dropdown-content">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.apartments }}
                      <a href="{{.URL}}" >
                          <span>{{ .Name }}</span>
                      </a>
                    {{end}}
              </div>
            </li>
        </ul>
        <!-- sidebar menu end-->